<div class="container-3">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="new">
          New Blog Posts
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4" *ngFor="let item of database2">
        <div class="cont-3">
          <img src="{{item.image}}" class="image">
          <span class="text-1">
            <b>
              {{item.title}}
            </b>
          </span>
          <div class="text-2">
            <b>
              {{item.text}}
            </b>
          </div>
          <div class="text-3">
            <b>
              {{item.read}}
            </b>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
